body, html {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  overflow: hidden; /* Hide scroll bars */
background-image: url('alpha52.jpeg');
background-size: cover;
}

.container {
  width: 100vw; /* 100% of viewport width */
  height: 100vh; /* 100% of viewport height */
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  color: black;
}
.content {
  max-width: 90%; /* Adjust as needed */
  max-height: 90%; /* Adjust as needed */
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  transform: rotate(-90deg);
  z-index: 10;
  font-size: 40px;
}
.content2 {
  max-width: 90%; /* Adjust as needed */
  max-height: 90%; /* Adjust as needed */
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  transform: rotate(-90deg);
  z-index: 10;
  font-size: 30px;
}
.hexagon-container {
width: 500px; /* Adjust width as needed */
height: 500px; /* Adjust height as needed */
position: relative;
margin: auto;
}

.hexagon {
width: 40%;
height: 23.094%;
transform: rotate(90deg);
background-color: #ccc;
position: absolute;
display: flex;
justify-content: center;
align-items: center;
color: black;
}

.central {top: 47.5%; left: 40%; }
.hexagon:nth-child(2) {top: 4.5%;left: 40%;}
.hexagon:nth-child(3) {top: 25%;left: 0%;}
.hexagon:nth-child(4) {top: 70%;left: 0%;}
.hexagon:nth-child(5) {top: 91%;left: 40%;}
.hexagon:nth-child(6) {top: 70%;left: 80%;}
.hexagon:nth-child(7) {top: 25%;left: 80%;}

.hexagon:before, .hexagon:after {
content: '';
position: absolute;
width: 0;
border-left: 100px solid transparent;
border-right: 100px solid transparent;
z-index: 0;
}

.hexagon:before {top: -57px;border-bottom: 58px solid #ccc;}
.hexagon:after {bottom: -57px;border-top: 58px solid #ccc;}

.inside {
  top: 5%;
  left: 5%;
  width: 90%;
  height: 90%;
  transform: rotate(0deg);
  position: absolute;
  z-index: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}
.inside:before, .inside:after {
  content: '';
  position: absolute;
  width: 0;
  border-left: 90px solid transparent;
  border-right: 90px solid transparent;
  z-index: 1;
}
.inside:before {top: -50px;}
.inside:after {bottom: -50px;}
.in1 {background-color: rgb(204, 102, 102);}
.in1:before{border-bottom: 51px solid rgb(204, 102, 102);}
.in1:after{border-top: 51px solid rgb(204, 102, 102);}
.in2 {background-color: rgb(250, 200, 152);}
.in2:before{border-bottom: 51px solid rgb(250, 200, 152);}
.in2:after{border-top: 51px solid rgb(250, 200, 152);}
.in3 {background-color: rgb(255, 250, 160);}
.in3:before{border-bottom: 51px solid rgb(255, 250, 160);}
.in3:after{border-top: 51px solid rgb(255, 250, 160);}
.in4 {background-color: rgb(195, 177, 225);}
.in4:before{border-bottom: 51px solid rgb(195, 177, 225);}
.in4:after{border-top: 51px solid rgb(195, 177, 225);}
.in5 {background-color: rgb(167, 199, 231);}
.in5:before{border-bottom: 51px solid rgb(167, 199, 231);}
.in5:after{border-top: 51px solid rgb(167, 199, 231);}
.in6 {background-color: rgb(200,225,204);}
.in6:before{border-bottom: 51px solid rgb(200,225,204);}
.in6:after{border-top: 51px solid rgb(200,225,204);}


.inside:hover {background-color: #0C0D12;color: #ccc}
.inside:hover:before,.inside:hover:after {border-bottom-color: #0C0D12; border-top-color: #0C0D12}

.hexagon:nth-child(2):hover{background-color: rgb(166, 44, 43);}
.hexagon:nth-child(2):hover:before,.hexagon:nth-child(2):hover:after{border-bottom-color: rgb(166, 44, 43); border-top-color: rgb(166, 44, 43)}
.hexagon:nth-child(3):hover{background-color: rgb(218,104,15);}
.hexagon:nth-child(3):hover:before,.hexagon:nth-child(3):hover:after{border-bottom-color: rgb(218,104,15); border-top-color: rgb(218,104,15)}
.hexagon:nth-child(4):hover{background-color: rgb(255,215,0);}
.hexagon:nth-child(4):hover:before,.hexagon:nth-child(4):hover:after{border-bottom-color: rgb(255,215,0); border-top-color: rgb(255,215,0)}
.hexagon:nth-child(5):hover{background-color: rgb(91,10,45);}
.hexagon:nth-child(5):hover:before,.hexagon:nth-child(5):hover:after{border-bottom-color: rgb(91,10,45); border-top-color: rgb(91,10,45)}
.hexagon:nth-child(6):hover{background-color: rgb(50,82,123);}
.hexagon:nth-child(6):hover:before,.hexagon:nth-child(6):hover:after{border-bottom-color: rgb(50,82,123); border-top-color: rgb(50,82,123)}
.hexagon:nth-child(7):hover{background-color: rgb(41,110,1);}
.hexagon:nth-child(7):hover:before,.hexagon:nth-child(7):hover:after{border-bottom-color: rgb(41,110,1); border-top-color: rgb(41,110,1)}
