@import url('common.css');

body {
  background-image: url('images/background.jpeg');
}

.grey {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 2;
  opacity: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: none;
  transition: transform 1s, opacity 3s;
}

.text {
  padding: 10px;
  top: 50%;
  left: 50%;
  opacity: 0;
  background-color: #0C0D12;
  display: none;
  transition: transform 1s, opacity 3s;
  z-index: 5;
}

.border {
  position: fixed;
  padding: 7px;
  top: 50%;
  left: 50%;
  width: 40%;
  transform: translate(-50%, -50%);
  z-index: 4;
  opacity: 0;
  background-color: rgb(237, 203, 13);
  transition: transform 1s, opacity 3s;
  display: flex;
  align-items: center;
}

.title {
  height: 95%;
  width: 95%;
  padding: 5px;
  font-size: 26px;
  color: white;
  z-index: 10;
  background-color: #0C0D12;
  display: flex;
  clip-path: polygon(25% 2%, 75% 2%, 98% 25%, 98% 75%, 75% 98%, 25% 98%, 2% 75%, 2% 25%);
  shape-outside: polygon(25% 0%, 75% 0%, 100% 25%, 100% 75%, 75% 100%, 25% 100%, 0% 75%, 0% 25%);
  text-align: center;
  justify-content: center;
  align-items: center;
}

.blocks {
  aspect-ratio: 1/1;
  width: 80%;
  padding: 5px;
  transition: top 2s, left 2s, bottom 2s, right 2s, height 2s, width 2s, transform 2s;
  z-index: 1;
  display:flex;
  background-color: rgb(237, 203, 13);
  clip-path: polygon(25% 2%, 75% 2%, 98% 25%, 98% 75%, 75% 98%, 25% 98%, 2% 75%, 2% 25%);
  shape-outside: polygon(25% 0%, 75% 0%, 100% 25%, 100% 75%, 75% 100%, 25% 100%, 0% 75%, 0% 25%);
  text-align: center;
  align-items: center;
  justify-content: center;
}

.exptable {
  position: absolute;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  flex-direction: row;
  align-items: flex-start;
  justify-content: center;
  padding: 60px 40px;
  gap: 40px;
}